/*General*/
html {
    width: 100%;
    height: 100%
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: "Corbel", "Arial";
    width: 100%;
    height: 100%;
    color: #333333
}

body .c_body {
    min-width: 980px;
    max-width: 1500px;
    margin: 0 auto;
}

a {
    text-decoration: none
}

h1 {
    color: black;
    font-style: italic;
    display: inline-block
}

h2 {
    font-size: 26px;
    font-weight: bold;
    font-style: italic
}

h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic
}

h5 {
    font-size: 18px;
    font-weight: normal;
    font-style: italic
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px
}

h6 {
    font-size: 16px;
    display: inline-block;
    margin-right: 30px
}

/*
index.html
*/
/*Header*/
.header .mail {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    margin: 25px 0px 40px 50px;
    display: inline-block;
}
.header .r   {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
}
.header .r a{
    color: #666666;
    margin-right: 30px;
    font-size: 12px;
}
/*Content*/
.content {
    display: block;
    margin-top: 80px;
}

.content .guru {
    font-size: 36px;
    font-style: italic;
    font-weight: bold
}

.content .textContent {
    font-style: italic;
    font-size: 18px;
    margin-top: 50px
}

.content .image {
    margin-top: 50px
}

.content .textImage {
    font-family: "Tahoma";
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content .textImage div {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px
}

.content .shadow {
    display: inline-block;
    background-color: #CFCFCF;
    margin: 0 auto;
    margin-top: 61px;
    width: 878px;
    height: 1px;
    border-bottom-right-radius: 400px 20px;
    border-bottom-left-radius: 400px 20px;
    box-shadow: 0px 0px 7px 0px rgb(107, 107, 107);
}

.content .shadow:before {
    position: absolute;
    display: block;
    content: "";
    width: 878px;
    height: 20px; /* border-bottom: 1px rgb(194, 194, 194) solid; */
    background-color: #f8f8f8;
    margin-top: -20px;
}

.content .uslugi {
    margin-top: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 24px
}

.content .icon {
    margin-top: 60px;
    margin-bottom: 60px
}

.content .icon img {
    display: block;
    border: none;
    margin-bottom: 5px
}

.content .icon .iconText {
    display: inline-block;
    font-size: 14px;
    margin: 0 40px
}

.content .icon a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dashed
}

.content .icon a:hover {
    color: #2263b0
}

.content .downText {
    font-size: 12px;
    font-family: "Tahoma"
}

.content .downLinks div {
    display: inline-block;
    margin: 50px 20px 0px 20px;
}

.content .downLinks .l a {
    border-bottom: 1px dashed;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold
}

.content .downLinks .l a:hover {
    color: #2263b0;
}

.content .downLinks .r a {
    border-bottom: 1px dashed;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold
}

.content .downLinks .r a:hover {
    color: #2263b0;
}

/*Footer*/
.footer {
    margin: 10px 0;
    color: #999999
}

.footer div {
    display: inline-block;
    font-size: 12px;
    font-family: "Tahoma";
    margin: 0px 10px 10px 10px
}

/***********
development.html
************/
/*Header*/
.header {
    position: relative
}

.header .l .light {
    color: #333333;
    margin-left: 80px;
    margin-right: 5px
}

.header .l {
    display: inline-block;
    margin-left: 80px;
}

.header .l div {
    color: #333333;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin-top: 25px;
}

.header .ri {
    position: absolute;
    right: 30px;
    top: 30px;
    display: inline-block;
}

.header .ri div {
    display: inline-block;
}

.header .ri a {
    color: #666666;
    margin-right: 30px;
    font-size: 12px
}

.header .ri #active {
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: default
}

.header .ri a:hover {
    color: #2263b0
}

/*Content*/
.content .textNote {
    width: 900px;
    font-family: "Tahoma";
}

.content .textNote .title {
    color: #333333;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px
}

.content .textNote div {
    width: 200px;
    color: #666666;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    margin: 0 20px
}

.content .features {
    display: block;
    margin-bottom: 150px
}

.content .features .l {
    display: inline-block;
    width: 600px
}

.content .features .l #leftImg span {
    display: block;
    margin-top: 40px
}

.content .features .l img {
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    box-shadow: 2px 3px 16px 2px silver
}

.content .features .l #leftImg {
    position: relative;
    display: block;
    top: 0px;
    left: 0px
}

.content .features .l #one {
    margin: 25px 39px;
    position: absolute;
    top: 0px;
    left: 0px
}

.content .features .l #two {
    margin: 25px 39px;
    position: absolute;
    top: 0px;
    left: 0px
}

.content .features .l #three {
    margin: 25px 39px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px
}

.content .features .l #four {
    margin: 25px 39px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px
}

.content .features .l #five {
    margin: 25px 39px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px
}

.content .features .r {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px
}

.content .form {
    display: inline-block;
    color: black;
    text-align: left;
    background-color: #f2f2f2;
    width: 800px;
    border-radius: 15px;
    border: 1px silver solid;
    box-shadow: 2px 2px 4px 0px silver
}

.content .form input {
    background-color: #d9d9d9;
    margin: 0 5px;
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px #a9a9a9 solid
}

.content .form div {
    display: inline-block
}

.content .form form {
    height: 400px
}

.content .form textarea {
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px #a9a9a9 solid;
    width: 750px;
    max-width: 750px;
    max-height: 120px;
    height: 120px;
    margin-left: 15px;
}

.content .form p {
    font-style: italic;
    margin: 5px 0px 5px 20px
}

.content .form button {
    box-shadow: 2px 3px 6px 0px silver;
    color: white;
    width: 140px;
    height: 34px;
    background: url("img/button.png") repeat-x;
    font-size: 13px;
    float: right;
    margin: 10px 30px;
    border-radius: 5px;
    border: 0px
}

/*Кнопки*/
.one {
    cursor: pointer;
    text-align: left;
    color: black;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/fon.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver;
}

.two {
    cursor: pointer;
    text-align: left;
    color: black;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/fon.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver;
}

.three {
    cursor: pointer;
    text-align: left;
    color: black;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/fon.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver;
}

.four {
    cursor: pointer;
    text-align: left;
    color: black;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/fon.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver;
}

.five {
    cursor: pointer;
    text-align: left;
    color: black;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/fon.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver;
}

.active {
    cursor: default;
    text-align: left;
    color: white;
    font-family: "Tahoma";
    font-size: 13px;
    margin-bottom: 15px;
    background: url("img/q.png") repeat-x;
    padding: 7px 35px 7px 20px;
    border-radius: 4px;
    border: 1px outset silver;
    box-shadow: 2px 2px 6px -1px silver
}

/*****
readySolution.html
*****/
.content .monitor button {
    cursor: pointer;
    margin-top: 20px;
    background: url("img/buttonSolution.png") repeat-x;
    display: block;
    padding: 7px 40px;
    font-size: 13px;
    font-family: "Tahoma";
    color: white;
    border: 1px solid silver;
    border-radius: 4px
}

.content .textMonitor {
    font-size: 12px;
    font-family: "Tahoma";
    color: #666666;
    margin-top: 40px;
}

.content .h2 {
    margin-top: 40px
}

.content .iconS {
    display: inline-block;
    width: 670px;
    margin-top: 35px;
    margin-bottom: 50px
}

.content .iconS div {
    display: inline-block;
}

.content .iconS span {
    text-align: center;
    display: block;
    font-size: 14px
}

.content .iconS img {
    display: block;
    margin: 0 auto;
    padding-bottom: 17px
}

.content .iconS .upIcon {
    display: block;
}

.content .iconS .upIcon div {
    width: 162px
}

.content .iconS .downIcon {
    display: block;
    margin-top: 35px
}

.content .iconS .downIcon div {
    width: 162px
}

.content .h22 {
    margin-top: 20px
}

.content .price {
    margin-bottom: 100px;
    display: inline-block;
    color: #32417b;
    text-align: left;
    width: 850px;
    margin-top: 33px
}

.content .price .l {
    font-family: "Tahoma";
    font-size: 14px;
    float: left;
    width: 397px;
    height: 228px;;
    background: url("img/shape.png") no-repeat;
    display: inline
}

.content .price .r {
    color: #666666;
    font-size: 12px;
    font-family: "Tahoma";
    font-weight: bold;;
    vertical-align: top;
    display: inline
}

.content .price .l .prices .left {
    display: inline-block
}

.content .price .l .prices .right {
    float: right;
    display: inline-block
}

.content .price .l .prices .top {
    margin: 68px 56px 0px 58px
}

.content .price .l .prices .bottom {
    margin: 17px 56px 0px 58px
}

.content .price .l .total {
    font-size: 22px;
    margin: 33px 56px 0px 58px
}

.content .price .l .total .right {
    float: right
}

.content .price .l .downText {
    color: #666666;
    margin: 50px 15px 0px 15px
}

/*
contacts.html
*/
.content .contact {
    margin-bottom: 50px;
}

.content .contact div {
    vertical-align: top;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.content .contact img {
    margin-right: 25px;
    margin-top: 4px;
}

.content .contact .l {
    font-family: "Myriad Pro";
    font-size: 28px;
    margin-right: 140px;
}
/*
blog.html
*/
.content #light{
    color: #999999;
}
.content #subscribe{
    width: 298px;
    height: 136px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 40px;
    box-shadow: 2px 2px 6px 0px rgb(117, 117, 117);
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 50px;
}
.content #subscribe span{
    vertical-align:top;
    margin-bottom:10px;
    padding:10px 0px 3px 0px;
    width:281px;
    display:block;
    border-bottom:1px silver solid;
    text-align:left;
    font-size: 18px;
    font-family: "Arial";
}
.content #subscribe input{
    width: 266px;
    height: 33px;
    font-family: "Arial";
    font-size: 13px;
    color: #4d4d4d;
    font-style: italic;
    border-radius: 5px;
    border: 0px;
    padding-left: 14px;
    background: url("img/shapeInput.png") no-repeat;
}
.content #subscribe button{
    color: #ffffff;
    font-family: "Arial";
    font-size: 13px;
    background: url("img/button.png") repeat-x;
    border: 0px;
    border-radius: 5px;
    width: 115px;
    height: 33px;
    position: absolute;
    display: block;
    right: 9px;
    bottom: 9px;
}
.content #subscribe #error{
    background: url("img/error.png") no-repeat;
    width: 150px;
    height: 32px;
    position: absolute;
    bottom: 16px;
    left: 9px;
    display: none;
}